# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.iml

# Poetry
poetry.lock
.pytest_cache/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.local